
*{
  margin:0;
  padding: 0;
}


#game-container{
  height: 100vh;
  background-image: url("../img/play.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
 
  
  }


  h1{
    width:100%;
    padding-top: 80px;
    
    color: blue;
    font-size: 80px;

  }

  h2{
    height:40px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 50px;
  }
button{
  background-color: green;
  color:white;
  padding: 20px 40px;
  font-size: 20px;
  height: 80px;
}



